@font-face {
    font-family: 'iransans';
    src: url('/iransens/IRANSans_Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'bold1';
    src: url('/iransens/IRANSans_Bold.ttf') format('truetype');
}


body{
    font-family: 'iransans' !important;
} 

.section {
    padding-top: 75px;
}

.next {
    font-size: 65px;
}

.next a {
    color: rgb(33, 37, 41);
}

.arrow-next {
    color: var(--bs-primary) !important;
}

.arrow-next:hover {
    color: var(--bs-primary-dark) !important;
}

.nav-item:hover {
    background-color: var(--bs-primary-dark)
}

.language-wrapper img,
.contact-wrapper a {
    height: 60px;
    transition-duration: 0.3s;
    transition-property: all;
}

.language-wrapper img:hover,
.contact-wrapper a:hover {
    transform: scale(1.2);
}

.class-card {
    background-color: #eeeeee;
    color: black;
    transition-property: all;
    transition-duration: 0.3s;
}

.class-card:hover {
    background-color: var(--bs-primary);
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    max-width: 100%;
    padding: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        display: block;
    }
}


/*  */
/*  */
/*  */


.header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: black !important;
}
.navbar-brand:hover { 
    color: #008cff !important;
}
.nav-link {
    color: white !important;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-link:hover{ 
    color: #008cff;
}

.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s;
}

.full-screen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
.full-screen-menu.show {
    opacity: 1;
    visibility: visible;
}
.full-screen-menu .nav-link {
    color: white;
    font-size: 24px;
    margin: 10px 0;
}
.full-screen-menu .close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

