:root {
    --temple-red-dark:rgb(0, 140, 255);
    --bs-primary: rgb(0, 140, 255);
    --bs-primary-rgb: 0, 140, 255;
    --bs-primary-dark: #008cff;
    --bs-primary-dark-rgb:0, 140, 255;

}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #008cff;
    --bs-btn-border-color: #008cff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #008cff;
    --bs-btn-hover-border-color: #008cff;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #008cff;
    --bs-btn-active-border-color: #008cff;
    --bs-btn-active-shadow: inset 0 3px 5px #008cff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #008cff;
    --bs-btn-disabled-border-color: #008cff;
}

.navbar {
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-padding-x: 0.1rem;
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: white;
    --bs-navbar-brand-hover-color: white;
}


.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;

}

.navbar-nav {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: white;
}